@font-face {
    font-family:playfair;
    src: url(playfair-display.zip);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%; 
}
#page1{ position: relative;
    height: 100vh;
    width: 100vw;
    
}
#page1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
nav{
     position:fixed;
    height: 80px;
    width: 100%;
    /* background-color: #24cfb0; */
    display: flex;align-items: center;
    justify-content: space-between;
    padding: 20px 55px;
    z-index: 9999;
}

.content{
    position: relative;
    height: 15px;
    width: 41px;
    /* background-color: yellow; */
    
}
.line1, .line2 ,.line3{
    height: 2px;
    width:100%;
    background-color: #434b34;
    
    margin-top: 4px;
}
#part2{
    gap: 12px;
    display: flex;
}
 #part2 button:nth-child(1) {
    font-size: 15px;
    font-weight:520;
    padding: 8px 22px;
    border: 1px solid black;
    background-color: transparent;
    color: #434b34;

    border-radius: 50px;
    /* border: none; */
 }
 #part2 button:nth-child(2) {
    font-size: 15px;
    font-weight: 520;
    padding: 8px 22px;
    background-color: #434b34;
color: white;
    border-radius: 50px;
    border: none;

 }

 #page1 svg{
    position: fixed;
    scale: .28;
    fill: #434b34;
    margin-top: -90px;
    z-index: 99;
 }
 #page2{ position: relative;
    min-height:100vh;
    width: 100vw;
    background-color: #5B6647;
 }

 #page2 #text{
    display: flex;align-items: center;
    justify-content: center;
 }
 #page2 p{
    position: absolute;
    top: 10%;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    font-family:"playfair";

 }